@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --neve: #F3F3F3;
    --cinza: #0E0D0D;

    /* ------PALETA DE COR DOS CONTRATAR------*/
    --cor1: #181C14;
    --cor2: #3C3D37;
    --cor3: #697565;
    --cor4: #ECDFCC;
    /* ---------------------------------------*/
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--neve);

    font-family: "Outfit", sans-serif;
}

/* ==============NAV============= */ 

nav{
    display: flex;
    background-color: #e2e2e2da;
    height: 4.37rem;
    width: 100%;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.luz-noturna{
    display: flex;
    flex: 15%;
    margin-left: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.luz-noturna > p {
    font-size: 25px;

    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.select-buttom{
    display: flex;
    flex: 35%;
    align-items: center;
    justify-content: space-around;
}

.select-option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 3.7rem;
    width: 6rem;
}

.select-option > a{
    text-decoration: none;
    color: rgb(43, 43, 43);
    letter-spacing: 0.8px;

}

.select-option img{
    height: 30px;
    width: 30px;
}

.perfil{
    display: flex;
    flex: 10%;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
}

.container-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 100%;
    height: 64px;
    width: 68px;
}

.img-perfil{
    cursor: pointer;
    height: 100px;
    width: 200px;
}

/*  CHECK BOX  */
.container-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.switch .switch-text{
    padding-right: 0.3rem;
    font-size: 1.5rem;
    color: rgb(43, 43, 43);
}
.switch .switch-wapper{
    display: inline;
    width: 65px;
    height: 34px;
    position: relative;
    margin-right: 0.8rem;
}
.switch .switch-wapper .switch-bottom{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(78, 78, 78);
}
.switch .switch-wapper .checkbox-box{
    opacity: 0px;
    height: 0px;
    width: 0px;
}
.switch .switch-wapper .switch-bottom::before{
    content: "";
    background-color: rgb(255, 255, 255);
    height: 26px;
    width: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
}
.switch .switch-wapper .checkbox-box:checked + .switch-bottom{
    background-color: rgb(255, 255, 255);
}
.switch .switch-wapper .checkbox-box:checked + .switch-bottom::before{
    transform: translateX(30px);
    background-color: rgb(78, 78, 78);
}

/*
Video mostrando como faz
https://www.youtube.com/watch?v=UNqC-LLW2mE
*/

/* ==============MAIN============= */ 

main{
    display: flex;
    background-color: #ececec;
    min-height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    margin-top: 3rem;
    background-color: var(--cor2);
    height: 20rem;
    width: 80%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
/* --PARTE ESQUERDA-- */
.parte-esquerdo{
    display: flex;
    flex: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.container-photo{
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.027);
    border-radius: 100%;
    height: 130px;  
    width: 130px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.container-photo img{
    height: 100%;
    width: 130%;
}

        .botao button{
            width: 9rem;
            height: 4rem;
            border-radius: 10px;
            letter-spacing: 2.5px;
            background-color:#292c29;
            color: var(--neve);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 600;
            border: 1px solid var(--cor1);
            border-bottom: 6px solid var(--cor1);
            border-right: 6px solid var(--cor1);

            transition: all 1s ease;
            cursor: pointer;
        }
        .botao button:hover{
            transition: scale(1s);
            border: 1px solid rgb(202, 202, 202);
            border-bottom: 6px solid rgb(202, 202, 202);
            border-right: 6px solid rgb(202, 202, 202);
            color: #292c29;
            background-color: var(--neve);

        }

        .botao button:active{
            border-bottom: 1px solid rgb(202, 202, 202);
            border-right: 1px solid rgb(202, 202, 202);
            transition: all 0.5s ease;
        }

        .botao{
            display: flex;
            justify-content: center;
            align-items: center;
        }

/* --PARTE CENTRAL-- */
.parte-centro{
    display: flex;
    flex: 80%;
    height: 80%;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin-left: 1.3rem ;

    height: 70px;
    padding: 0px 3.5rem;
    background-color: #837b70;
    border-radius: 5px;
}

.container-info p{
    font-size: 2.2rem;
    color: var(--cor2);
    font-weight: 500;
}

.container-info-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    background-color: var(--cor4);
    padding: 0px 1rem;
    height: 3rem;
    border-radius: 5px;
    margin-left: 1.5rem ;
}

.container-info-2 label{
    font-size: 1.3rem;
    color: var(--cor2);
    font-weight: 500;
    margin-right: 5px;
}

.container-info-2 p{
    font-size: 1.3rem;
    color: var(--cor2);
    font-weight: 500;
}

/* ==============SECTION============= */ 

section{
    display: none;
    position: fixed;
    background-color: #dbdbdb;
    height: 3rem;
    width: 20rem;
    right: 1rem;
    bottom: 0px;
    align-items: center;
}

section > p{
    color: var(--cinza);
    margin-left: 0.5rem;
}

section .xis-section{
    position: relative;
    height: 20px;
    width: 20px;
    right: -135px;
    cursor: pointer;
}









.iframe_background{
    filter: blur(4px);
}

.esconder{
    display: none;
}
.espacamento_minutos{
    margin-right: 1rem;
}

.aparecer{
    display: flex !important;
}