.container-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid plum;
}

.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch .switch-text{
    padding-right: 0.3rem;
    font-size: 1.2rem;
}

.switch .switch-wapper{
    display: inline;
    width: 60px;
    height: 34px;
    position: relative;
}

.switch .switch-wapper .switch-bottom{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(78, 78, 78);
}

.switch .switch-wapper .checkbox-box{
    opacity: 0px;
    height: 0px;
    width: 0px;
}

.switch .switch-wapper .switch-bottom::before{
    content: "";
    background-color: white;
    height: 26px;
    width: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
}

.switch .switch-wapper .checkbox-box:checked + .switch-bottom{
    background-color: rgb(17, 165, 17);
}

.switch .switch-wapper .checkbox-box:checked + .switch-bottom::before{
    transform: translateX(26px);
}

/*
Video mostrando como faz
https://www.youtube.com/watch?v=UNqC-LLW2mE
*/